{% extends "root.html" %}

{% block content %}
<h1>Welcome to [blocks].</h1>
<p>[blocks] is a Towny Minecraft server & community that requires a .edu email address to play.</p>

<h2>FAQ</h2>
<ul>
    <li>Q: Why did you do this?</li>
    <li>A: It's a huge meme. Also, it might let us make a more trusted community, as everyone is going to a university and it's pretty hard to get extra .edu emails.</li>
    <br />
    <li>Q: I have an .edu email! How do I join?</li>
    <li>A: <a href="/account/register">Click here.</a></li>
</ul>
{% endblock content %}
